@use '@/assets/styles/config/variables.scss' as *;

.otp-input {
  --height: 70px;

  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;

  &-slot {
    font-size: 18px;
    --fw: 500;
    width: calc(var(--height) / 1.1);
    height: var(--height);
    border-radius: 15px;
    border: 1.5px solid $primary;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    text-align: center;

    &:focus {
      outline: 1.5px solid $primary;
    }

    &.is-complete {
      background-color: rgba(var(--v-theme-secondary), .75);
      color: #fff;
    }

    & + span {display: none;}
  }
}
