//======= Lekton =======//
@font-face {
  font-family: 'Lekton';
  src: url(fonts/Lekton-400.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Lekton';
  src: url(fonts/Lekton-Italic.ttf) format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Lekton';
  src: url(fonts/Lekton-Regular.ttf) format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Lekton';
  src: url(fonts/Lekton-Bold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

