@use "variables" as *;

@use 'vuetify/settings'; /* with (
);
*/

//? helper classes
.padless-inside > * {
  padding: 0;
}

.progress-inside .v-progress-circular {
  min-width: var(--loader-size, 60%);
  min-height: var(--loader-size, 60%);
}


//? direct settings
.v-otp-input {
  .v-field--focused .v-field__outline * {
    border-color: $primary;
  }
}




// //---------------------------------------------------------------------------------------------//
// //========== vuetify classes (components) ==========//
// //---------------------------------------------------------------------------------------------//

// //- data table -//
// .v-data-table {
//   --bg: transparent;
//   --spacing: 20px;
//   // th
//   --c-th: var(--accent);
//   --fw-th: var(--fw, bold);
//   --fs-th: max(14px, 1.1em);
//   --distance-th: 0;
//   // td
//   --bg-td: var(--secondary);
//   --p-td: 20px;
//   --br-td: 30px;
//   --fs-td: max(16px, 1.3125em);

//   background-color: var(--bg) !important;
//   table {border-spacing: 0 var(--spacing) !important}

//   thead {
//     transform: translateY(var(--distance-th)) !important;
//     tr {
//       th {
//         border-bottom: none !important;
//         span {
//           font-size: var(--fs-th) !important;
//           font-weight: var(--fw-th) !important;
//           color: var(--c-th) !important;
//         }
//       }
//     }
//   }

//   tbody {
//     tr {
//       background-color: var(--bg-td) !important;
//       td {
//         padding: var(--p-td) !important;
//         border-bottom: none !important;
//         &:not(:has(span)), span:not(.v-btn *) {font-size: var(--fs-td) !important}
//         &:first-of-type {border-radius: var(--br-td) 0 0 var(--br-td) !important}
//         &:last-of-type {border-radius: 0 var(--br-td) var(--br-td) 0 !important}
//       }
//     }
//   }
// }


// //- default inputs -//

// //- input textarea
// .v-input:not(.not_vuetify, .not) {
//   --h-input: 85px;

//   textarea {height: var(--h-input)}
// }

// //- input slot
// .v-field__input:not(.not_vuetify, .not) {
//   --bg: rgba(245, 245, 245, 0.4);
//   --c: #000000;
//   --c-label: #FFFFFF;
//   --c-place: #6e6e6e;
//   --b: initial;
//   --ol: initial;
//   --br: 30px;
//   --p: 0 12px;
//   --w: initial;
//   --max-w: none;
//   --min-w: none;
//   --h: 2.75em;
//   --bs: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
//   --f: none;
//   --t: none;
//   --o-disabled: .5;
//   // normal
//   --fw: 400;
//   --ff: var(--font2);
//   --tt: none;
//   --ls: normal;
//   --lh: 1;
//   // icon
//   --fs-icon: var(--fs, 1.2em);
//   // label
//   --fs-label: calc(var(--fs, 1.2em) - .15em);
//   --fw-label: var(--fw);
//   --ff-label: var(--ff);
//   --tt-label: var(--tt);
//   --ls-label: var(--ls);
//   --lh-label: var(--lh);
//   --stroke-label: var(--stroke, initial);
//   // placeholder
//   --fs-place: 1em;
//   --fw-place: var(--fw);
//   --ff-place: var(--ff);
//   --tt-place: var(--tt);
//   --ls-place: var(--ls);
//   --lh-place: var(--lh);
//   --stroke-place: var(--stroke, initial);

//   width: var(--w);
//   max-width: var(--max-w);
//   min-width: var(--min-w);
  
//   // under testing
//   & .v-input__control {
//     display: flex;
//     justify-content: center;
//   }
//   // under testing
  
//   & .v-input__slot {
//     background: var(--bg) !important;
//     border-radius: var(--br) !important;
//     border: var(--b);
//     outline: var(--ol);
//     padding: var(--p) !important;
//     min-height: var(--h);
//     box-shadow: var(--bs) !important;
//     transform: var(--t);
//     filter: var(--f);
//   }
  
//   // testing
//   & i {font-size: calc(var(--fs-icon) + .3em)}
//   // testing
  
//   // text //
//   & :is(input[type], button[type], textarea, .v-select__selection) {
//     color: var(--c);
//     font-size: var(--fs, max(14px, 1.2em));
//     font-weight: var(--fw);
//     font-family: var(--ff);
//     text-transform: var(--tt);
//     letter-spacing: var(--ls);
//     line-height: var(--lh);
//     -webkit-text-stroke: var(--stroke);
//     -moz-text-stroke: var(--stroke);
//     -ms-text-stroke: var(--stroke);
//     -o-text-stroke: var(--stroke);
    
//     // placeholder //
//     &::placeholder {
//       color: var(--c-place);
//       font-size: var(--fs-place);
//       font-weight: var(--fw-place);
//       font-family: var(--ff-place);
//       text-transform: var(--tt-place);
//       letter-spacing: var(--ls-place);
//       line-height: var(--lh-place);
//       -webkit-text-stroke: var(--stroke-place);
//       -moz-text-stroke: var(--stroke-place);
//       -ms-text-stroke: var(--stroke-place);
//       -o-text-stroke: var(--stroke-place);
//     }
//   }
  
//   // label //
//   & .v-label {
//     color: var(--c-label);
//     font-size: var(--fs-label);
//     font-weight: var(--fw-label);
//     font-family: var(--ff-label);
//     text-transform: var(--tt-label);
//     letter-spacing: var(--ls-label);
//     line-height: var(--lh-label);
//     -webkit-text-stroke: var(--stroke-label);
//     -moz-text-stroke: var(--stroke-label);
//     -ms-text-stroke: var(--stroke-label);
//     -o-text-stroke: var(--stroke-label);
//   }
  
//   // input statements //
//   &.v-input--is-focused:not(.not_focus, .not_statement) .v-input__slot {--ol: 1px solid rgba(255, 255, 255, 0.3)}
//   &.error--text:not(.not_error, .not_statement) .v-input__slot {--ol: 1px solid var(--error)}
//   &.v-input--is-disabled:not(.not_disabled, .not_statement) {opacity: var(--o-disabled); pointer-events: none}
// }


// //- menu select (desplegable menu) -//
// .v-menu__content {overscroll-behavior: contain}

// .v-select-list {
//   font-size: var(--resizer);
//   background: var(--secondary) !important;
//   border-radius: $border-btn !important;
//   overflow: hidden;
  
//   :is(.v-list-item__title, span) {
//     font-size: 1em;
//     color: #ffffff !important;
    
//     &::first-letter {text-transform: uppercase}
//   }
  
//   .v-list-item {
//     min-height: 3em;
//     &--active {
//       background: $btn !important;
      
//       :is(.v-list-item__title, span) {color: $text-btn !important}
//     }
//   }
// }


// //- dialog -//
// .v-dialog {
//   overscroll-behavior: contain;
  
//   &::-webkit-scrollbar {display: none}
//   // @include media(max, 500px) {margin-inline: 0}
// }


