@forward "./config/Default-settings";
@forward "./config/Vuetify-settings"; // TODO update this file
@forward "./config/Mixins";
@forward "./config/Custom-mixins";
@forward "./config/Personal-classes";
@forward "./config/Responsive";
@forward "./config/Variables";
@forward "./config/Fonts";
@forward "./config/Typography";
@use "./config/Mixins" as *;
@use "./config/Variables" as *;



//===================================== global ======================================//


.otp-input {
  --height: 70px;

  height: var(--height);
  justify-content: space-between;

  > * {align-items: initial !important;}

  &-slot {
    font-size: 18px;
    width: calc(var(--height) / 1.1);
    border-radius: 15px;
    border: 1.5px solid $primary;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    text-align: center;

    & + span {display: none;}
  }
}
